<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Paraiso</h2>
            <p class="card-text">Arbol de porte medio, hoja caduca y flores ornamentales que pertenece a la familia Meliaceae. Conocido comúnmente como agriaz, árbol santo, cinamomo, canelo, lila, melia, mirabobo, piocha o paraíso sombrilla, es una planta nativa del sureste asiático.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.deforestacion.net/consecuencias-de-la-deforestacion">Tu contribución ayuda : Más informacion</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Algarrobo</h2>
            <p class="card-text">Arbol de la región del Mediterráneo que es resistente a la sequía y cuya madera se utiliza en el ámbito de la carpintería. La algarroba procedente de este árbol, por otro lado, se emplea como alimento, mientras que sus hojas se destinan al ganado.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.deforestacion.net/consecuencias-de-la-deforestacion">Tu contribución ayuda : Más informacion</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Saucce</h2>
            <p class="card-text">Árbol de la familia de las salicáceas, que crece hasta 20 metro(s) de altura, con tronco grueso, derecho, de muchas ramas y ramillas péndulas. Tiene copa irregular, estrecha y clara, hojas angostas, lanceoladas, de margen poco aserrado, verdes por el haz y blancas y algo pelosas por el envés, flores sin cáliz ni corola, en amentos verdosos, y fruto capsular. Es común en las orillas de los ríos.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.deforestacion.net/consecuencias-de-la-deforestacion">Tu contribución ayuda : Más informacion</a></div>
    </div>
</div>