{% extends 'home/base.html' %}
{% block BASE_CONTENIDO %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <h1 class="pb-lg-3 text-bg-secondary">
        {% block INDEX_TITULO %}
            Pagina principal
        {% endblock INDEX_TITULO %}
    </div>
    {% block INDEX_CONTENIDO %}

    <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://th.bing.com/th/id/OIP.b4tf27M38ARp4AQhpT4YxQHaDt?pid=ImgDet&rs=1" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Vida verde</h1>
                <p>Vida es un empredimiento innovador unico que tiene como objetivo contribuir a la forestacion de nuestro planeta y garantizar la mejor calidad de vida de las generaciones futuras.</p>
                <p>Solo tenes que sugererir que especie te gustaria plantemos, y lo haremos por vos.</p>
                <a class="btn btn-primary" href="https://wa.me/3546515530" target="_blank">WhatsApp</a>
            </div>
        </div>
    <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            {% include 'home/card.html' with card="Especie"%}

        </div>
    
    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}