{% extends 'home/index.html' %}
{% block INDEX_TITULO %}
    Categorias de Productos
    <br>
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
<div class="d-grid gap-3">
{% if user.is_staff %}
    <a href="{% url 'producto:productocategoria_create' %}" class="btn btn-primary "> Crear Categorias de Productos </a>
{% endif %}
    <br>
    <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-primary "> Listar Categorias de Productos </a>
    <br>
    <a href="{% url 'Home:home' %}"> Ir al menu principal </a>
{% endblock INDEX_CONTENIDO %}
</div>