{% extends 'home/index.html' %}

{% block INDEX_TITULO %}
    Clientes
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    {% for cliente in clientes %}
        <h2>{{cliente.nombre}}</h2>
        <h4>{{cliente.apellido}}</h4>
        <p>{{cliente.nacimiento}}</p>
        <p>{{cliente.pais_destino_id}}</p>
        <p>{{cliente.especie}}</p>
        <p>{{cliente.cantidad}}</p>
        <p>{{cliente.email}}</p>
    {% endfor %}
    <a href="{% url 'Home:home' %}">Ir al menu principal</a>
{% endblock INDEX_CONTENIDO %}